@charset "UTF-8";
div#interface {
	width: 900px;
	height: 100%;
	background-color: white;
	margin: -20px auto 0px auto;
	box-shadow: 0px 0px 10px black;
	padding: 10px; 
}
.email{
	width: 350px;
	padding-bottom: 150px;
}
	body { 
		background: url("../hardware4.jpg");
		background-size: cover;
		background-attachment: fixed;
		color: rgba(0,0,0,1);
	}
	p {
		text-align: center;
		text-indent: 30px;
}
h1 {
	color: black;
	text-align: center;
}
#menu ul {
	margin: 0;
	background-color: black;
	list-style: none;
	display: flex;
}
#menu ul li{
	display: flex;
}

#menu ul li a {
	padding: 10px 10px;
	display: flex;
	color: white;
	text-decoration: none;
}
#menu ul li a:hover {
	background-color: #bfbfbf;
	color: black;
}

div.item {
  position: fixed;
  bottom: 0;
  right: 0;
}

.texto {
	position: relative;
	left: 350;
	color: black;
	font: Arial 12px;

}

.link {
	text-decoration: none;
	color: #c61aff;
	font: Arial 12px;
	position: relative;
	left: 350;
}
figure.foto-legenda {
	position: relative;
	border: 8px solid white;
	box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img {
	width: 100%;
	height: ;c4i
}

figure.foto-legenda figcaption {
	opacity: 0;
	position: absolute;
	top:0px;
	background-color: rgba(0,0,0,.4);
	color: white;
	width: 100%;
	height: 100%;
	padding: 10px;
	box-sizing: border-box;
}
c
	figure.foto-legenda:hover figcaption{
	opacity: 1;
	transition: opacity 1s;
}
